.box {
    width: 100px;
    height: 140px;
    background-color: red;
    font-size: 300%;
    text-align: center;
    display: block;
    position: absolute;
    top: 400px;
    left: 30px;  /* <--- Change me! */
}